# My Jupyter Notebook on IBM Watson Studio

## **Sara Touchard**
**Finance Analist**

_I am interested in data science because it helps to make informed decisions, it allows a better understanding of complex phenomena, it enables predictions and forecasting, it is intellectually stimulating, and it offers great career opportunities_

### In Cell 5 I will place a simple adtion and concecuently you will see the result in the cell bellow

In [7]:
1+2

3

---

- Monday
- Tuesday
- Wednesday
- Thursday
- Friday

1. Milk
2. Eggs
3. Butter
4. Flour

| Day | Month |  Year | Name |
| ------ | ------ | ------ | ------|
| 23 | 01| 1974 | Martha |
| 21 | 10| 1953 | Dominic |
| 08 | 08| 1983 | Claire |
| 17 | 06| 1965 | Samantha |

# <a href="http://Google.com">Google</a>

`Code highlighting`

``` Sintax highlighting ```

> "Each one can make a difference. Be kind."